@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

:root{
     --fonte-principal: 'Permanent Marker', monospace;
     --fonte-segundaria: 'story script', monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fonte-segundaria);
  background-color: #fff9f0;
  color: #333;
  padding: 20px;
}

header {
  font-family: var(--fonte-principal);
  background-color: #8a4806;
  color: white;
  text-align: center;
  padding: 40px 20px;
  border-radius: 8px;
}

section {
  margin: 30px 0;
  background-color: #fff;
  padding: 20px;
  border-left: 5px solid #8a4806;
  border-radius: 4px;
}

h2 {
  margin-bottom: 10px;
  color: #8a4806;
}

ul {
  list-style: none;
}

li {
  padding: 5px 0;
}

footer {
  text-align: center;
  color: #777;
  margin-top: 40px;
}
.container-imagem{
    align-items: center;
    font-size: 24px;
}
.imagem{
    width: 35%;
    height: 35%;
    border-radius: 24px;
    text-align: left;
}
.imagem2{
  width: 10%;
  height: 10%;
  text-align: right;
}
nav ul {
    list-style: none;
    margin-top: 20px;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: rgb(32, 12, 1);
    text-decoration: none;
    font-size: 1.1em;
}
nav ul li a:hover {
    text-decoration: underline;
}